<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="${ProgramData}\\Genesis Gaming\\Logs\\HGTranslator\\application.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="5"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<!--<conversionPattern value="%date [%thread] %level %logger - %message%newline" />-->
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
			</layout>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
		<logger name="Logger">
			<level value="ALL"/>
			<appender-ref ref="GeneralAppender"/>
		</logger>
	</log4net>
	<appSettings>
		<!--<add key="log4net.Internal.Debug" value="false"/>-->
		<add key="seat1IPAddress" value="192.168.12.10"/>
		<add key="seat2IPAddress" value="192.168.12.11"/>
		<!--<add key="seat3IPAddress" value="192.168.12.12"/>
		<add key="seat4IPAddress" value="192.168.12.13"/>
		<add key="seat5IPAddress" value="192.168.12.14"/>
		<add key="seat6IPAddress" value="192.168.12.15"/>
		<add key="seat7IPAddress" value="192.168.12.16"/>
		<add key="seat8IPAddress" value="192.168.12.17"/>
		<add key="seat9IPAddress" value="192.168.12.18"/>
		<add key="seat10IPAddress" value="192.168.12.19"/>-->
		<add key="seat3IPAddress" value=""/>
		<add key="seat4IPAddress" value=""/>
		<add key="seat5IPAddress" value=""/>
		<add key="seat6IPAddress" value=""/>
		<add key="seat7IPAddress" value=""/>
		<add key="seat8IPAddress" value=""/>
		<add key="seat9IPAddress" value=""/>
		<add key="seat10IPAddress" value=""/>
		<add key="seatGPIOIPAddress" value=""/>
		<add key="GGHostIPAddress" value="0.0.0.0"/>
		<add key="TableSeats" value="1"/>
		<add key="ShowLEDControlDiags" value="true"/>
		<add key="LEDDemoModeOn" value="false"/>
	</appSettings>
</configuration>